---
import Section from '@/components/Section.astro';
import EnterUser from '@/components/EnterUser.astro';
import Header from '@/components/Header.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Welcome to Astro.">
	<Header/>
    <Section><br><br>   
    <EnterUser/>

</Section>
</Layout>

<style>


</style>