---
import Login from '@/components/EnterUser.astro';
import UserHeader from '@/components/UserHeader.astro'
import Layout from '../layouts/Layout.astro';

---

<Layout title="Welcome to Astro.">
	<UserHeader/>

	
	<main>

		<h2>Usuario logeado</h2>

	</main>
	
</Layout>