.recipe{
    background-color: #d3db95;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    
}

.miniRecipe{
    background-color: #d3db95;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 10svh;
    padding: 10px;
}

.listLastRecipes{
    display: table-column;
}

.description{
    color: rgb(136, 136, 136);
}

.CreateRecipeForm{
    display: flex;
    flex-direction: column;
    width: 600px; /* Ajusta el ancho según sea necesario */
    padding-left: 100px;
    padding-right: 100px;
}


.field{
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Espacio entre cada campo */
}
.label{
    text-align: left; /* Alinea el texto del label a la izquierda */
    margin-right: 20px; /* Ajusta el margen derecho según sea necesario */
}

.textarea {
    width: 300px;  /* Ancho del campo de texto */
    height: 40px;  /* Alto del campo de texto */
}