---
import Section from '@/components/Section.astro'
import SignIn from '@/components/SignIn';
import Login from '@/components/Login';
import Gif from '@/components/Gif.astro';

---

<Section>
    <!-- 
    <select>
        <option value="">Registrarme</option>
        <option value="">iniciar sesión</option>
    </select>-->
    <div id="container">
    <div id="enterUser">
    <div id="signIn"><SignIn client:load/><br></div>

    <div id="logIn"><Login client:load/>
    <br></div>

   
    </div>
 
    <br><br>
    <h1>¡Tú después de ver una receta aquí!</h1>
    <br><br><br>
    <Gif/>

</Section>

<style>
    #container{
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    #enterUser{
        display: flex;
        width: 100%;
    }
    #logIn{
        background-color: #d3db95;
        width: 100%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    }
    #signIn{
        background-color:#E4E9BE;
        width: 100%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    }  

</style>

