---
import fire from '@/resources/fire.gif'
import { Image } from 'astro:assets';
---


<div id="gifContainer">
    <Image src={fire} alt="fire" id="fire"/>
</div>

<style>
    #fire{
        width:800px;
        height: 350px;
    }
</style>